data
data.bin
.DS_Store
ios/Tsurukame.xcodeproj/project.xcworkspace/xcuserdata/
ios/Tsurukame.xcodeproj/project.xcworkspace/xcshareddata/
ios/Tsurukame.xcodeproj/xcuserdata/
sqlite3-extension/proto.so
