version: 2.1

jobs:
  tsurukame-prober:
    macos:
      xcode: 26.1.0
    steps:
      - checkout
      - run:
          command: swift test --filter WaniKaniAPIProber.WaniKaniAPIProber
          working_directory: ios/WaniKaniAPI

workflows:
  version: 2
  tsurukame-prober:
    jobs:
      - tsurukame-prober
