gc_keys.json
app_store_api_key.json
report.xml
metadata/review_information/demo_*
metadata/review_information/phone_number.txt
metadata/trade_representative_contact_information
Preview.html
screenshots/screenshots.html